/* Set background image and font */
body {
  background: url(../resources/octocat.png) no-repeat center center fixed;
  background-size: contain;
  font-family: 'Courier New', Courier, monospace;
}

/* Change fieldset defaults to transparent and flex container for right and left panels */
fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: darkgray;
  opacity: 0.8;
  border-radius: 20px;
}

/* Add padding to inner container */
.container.side {
  padding: 5em;
}

/* Change right pannel flex settings */
.fieldset {
  text-align: center;
  gap: 1em;
}

/* Bring profile photo to the center */
.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Set profile image css */
#profileImg {
  alt: "profile image";
  width: 100%;
  border-radius: 30%;
}

/* set the grid settings for pannels containers */
.side {
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

/* Set grid for inner card */
#user-detail {
  grid-template-columns: 1fr 3fr
}

/* Settings for button and text input */
.inputitem {
  position: relative;
  text-align: center;
  margin: 10pt;
  padding: 10pt;
  font-size: large;
  font-family: inherit;
}

/* Button collor settings */
.button {
  background: #333;
  color: #fff;
}

/* Flex structure for card footer.(contains dates) */
.cardfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Card all details settings */
.details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 10pt;
}

/* Card each details settings */
.detail {
  margin: 5pt;
}

/* Error form in top of card pannel settings, hide in default */
.errorForm {
  margin: 5pt;
  padding-left: 10pt;
  display: none;
}

/* Error Fieldset color settings */
.errorfieldset {
  border-color: #f55;
  background-color: #f88;

}